$fontFamilyHeader: 'pacifico', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
$fontFamilyText: 'Open Sans', sans-serif;
$bgColorBlue: #85a7ca;
$colorError: #f54040;
$colorMessage: #1c62ff;
$colorGrey: #9f9696;